<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <p>


        <ul>
            <li><img src="<%= movie.poster %>"></li>
            <li><%= movie.title  %></li>
            <li><%= movie.genres  %></li>
            <li>rating:<%= movie.imdb.rating  %></li>

            <li><%= movie.fullplot  %></li>

        </ul>



    </p>
</body>

</html>