<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= pagetitle %></title>
    <% include partials/header%>
</head>

<body>
    <% include partials/nav%>


    <div class="container-fluid mask cloudy-knoxville-gradient d-flex justify-content-center align-items-center">

        <!-- Content -->
        <div class="pt-5 pb-5 px-md-3 px-sm-0">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12 mb-4">

                    <h3 class="font-weight-bold mb-5">
                        <%= pagetitle %>
                    </h3>
                    <span class="subtext-header mt-2 mb-4 text-left">
                        <ul>


                            <% for(var i = 0; i < movies.length; i++) { %>

                            <li>
                                <a href="movies/<%= movies[i]._id %>">
                                    <b class="h3">
                                        <%= movies[i].title  %> </b class="display-4">
                                </a> <small style="border-radius:20px;background-color:#dddada"
                                    class="pt-1 pb-1 pl-1 pr-1"><i><%= movies[i].genres  %></i></small>

                                <% } %>


                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>





    <% include partials/footer%>
</body>

</html>